exemplos/schema_pdv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="venda">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numero"  type="xs:integer"/>
        <xs:element name="data"    type="xs:dateTime"/>
        <xs:element name="cliente">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cpf"  type="xs:string"/>
              <xs:element name="nome" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="itens">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="codigo"         type="xs:string"/>
                    <xs:element name="descricao"      type="xs:string"/>
                    <xs:element name="quantidade"     type="xs:decimal"/>
                    <xs:element name="valor_unitario" type="xs:decimal"/>
                    <xs:element name="valor_total"    type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="total" type="xs:decimal"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
